# TASK 1

1. Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
p = 1000
r = 5
t = 5 
  
# Calculates simple interest  
SI = (p * r * t) / 100
 
print("simple interest is", SI)

simple interest is 250.0

<img src="Task 01 01.png"/>

2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
y = []

for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        y.append(str(x))
print (','.join(y))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

<img src="Task 01 02.png"/>

3. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [3]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Heyy  " + lname + " " + fname)

Input your First Name : Ayazur
Input your Last Name : Rahman
Heyy  Rahman Ayazur

<img src="Task 01 03.png"/>

4. Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * π * r 3

In [4]:
pi = 3.14
rad = 6
vol = (4/3) * pi * rad**3
print(vol)

904.3199999999999

<img src="Task 01 04.png"/>

# TASK 2

1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [5]:
values = input("Input some comma separated numbers : ")
list = values.split(",")
print('List : ', list)

Input some comma separated numbers : 56,87,94,34,10,71,55,61,40
List :  ['56', '87', '94', '34', '10', '71', '55', '61', '40']

<img src="Task 02 01.png"/>

2. Create the below pattern using nested for loop in Python.


*
** 
*** 
**** 
***** 
**** 
*** 
**
*

In [8]:
n = 5
for i in range(n):
    for j in range(i):
        print('*', end = "")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('*', end = "")
    print('')

*
**
***
****
*****
****
***
**
*

<img src="Task 02 02.png"/>

3. Write a Python program to reverse a word after accepting the input from the user. Sample Output:
   Input word: AcadGild
   Output: dilGdacA

In [20]:
word = input("Input a word to reverse : ")
reversed_string = word[::-1]
print (reversed_string)

Input a word to reverse : oiuyyres
seryyuio

<img src="Task 02 03.png"/>

4. Write a Python Program to print the given string in the format specified in the ​sample output.

   WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a 
   SOVEREIGN, SOCIALIST, SECULAR,DEMOCRATIC REPUBLIC and to secure to all 
   its citizens
   
   Sample Output:
   WE, THE PEOPLE OF INDIA,
       having solemnly resolved to constitute India into a SOVEREIGN, !
           SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
             and to secure to all its citizens

In [25]:
string = '''WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN{}SOCIALIST, SECULAR,DEMOCRATIC REPUBLIC{}and to secure to all its citizens{}'''
print(string.format('\n\t','!\n\t\t','\n\t\t',':'))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN!
		SOCIALIST, SECULAR,DEMOCRATIC REPUBLIC
		and to secure to all its citizens:

<img src="Task 02 04.png"/>